body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
}

#quadrado {
    width: 200px;
    height: 200px;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}